[submodule "packages/plugins-workspace"]
	path = packages/plugins-workspace
	url = https://github.com/sgammon/plugins-workspace.git
	branch = feat/apns
[submodule "packages/awesome-tauri"]
	path = packages/awesome-tauri
	url = https://github.com/tauri-apps/awesome-tauri
	branch = dev
[submodule "packages/tauri"]
	path = packages/tauri
	url = https://github.com/sgammon/tauri.git
	branch = feat/apns
